@import 'theme/shared-classes';
@import 'theme/style-guide';
@import 'mixins.scss';

custom-fields-page {
  .header {
    @include settings-page-header;
  }

  ion-list {
    @include settings-page-item-list;
  }

  form {
    ion-input {
      &.ng-invalid {
        input.text-input {
          border: 1px solid red;
        }
      }

      input.text-input {
        @extend .boon-input;
      }
    }

    .label {
      @extend .boon-label;

      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  settings-page-with-menu ion-content.content.content-md {
    .fixed-content,
    .scroll-content {
      @include md {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}
