ion-content(padding)
  form(#confirmForm="ngForm", (ngSubmit)="confirmCode()", autocomplete="off")
    ion-row.title
      ion-col
        h1 Check your email
        ion-label(stacked) Please enter the code sent to the provided email address
    ion-row
      ion-col
        ion-label(stacked) Code
        ion-input(name="code", type="text", placeholder="Please input code that you receive via email.", [(ngModel)]="codeModel", required, #code)

    ion-row
      ion-col
        hr
    ion-row
      ion-col(col-8)
        div.label-comment
          ion-label(stacked) Remember your password?
          a.login((click)="goLogin()") Login here
      ion-col(col-4)
        button(ion-button, full, type="submit", [disabled]="!confirmForm.form.valid")
          | Submit Code
