ion-content(padding)
  form(#newPasswordForm="ngForm", (ngSubmit)="createNewPassword()", autocomplete="off")
    ion-row
      ion-col
        h1 Create new password
    ion-row
      ion-col
        ion-label(stacked) New password
        ion-input(name="newPassword", type="password", [(ngModel)]="newPasswordModel", required, #newPassword)
    ion-row
      ion-col
        ion-label(stacked) Confirm new password
        ion-input(name="confirmPassword", type="password", [(ngModel)]="confirmPasswordModel", required, #confirmPassword)
    ion-row
      ion-col
        hr
    ion-row
      ion-col(col-4, offset-8)
        button(ion-button, full, type="submit", [disabled]="!newPasswordForm.form.valid")
          | Submit Code
