div.signup-page
  div.signup-page-wrapper
    form([formGroup]="signupForm", (ngSubmit)="signup()", autocomplete="off")
      div
        h1 Sign Up For Boon
      div.info-wrapper
        div.info
          label Organization Name
          input(name="organization", type="text" formControlName="organization", required)
        div.info
          label Name
          input(name="name", type="text" formControlName="name", required)
        div.info
          label Email
          input(name="email", type="email", formControlName="email", required)
        div.info
          label Phone Number
          input(name="phone", type="text", formControlName="phoneNumber", required)
      div.passwords-wrapper
        div.password 
          label Password
          input(name="password", type="password", formControlName="password", required)
        div.password 
          label Confirm Password
          input(name="confirm", type="password", formControlName="passwordConfirm", required)
      div.line-break
      div.continue
        div.label-comment
          label Already have an account?
          a.login((click)="goToLogin()") Login here
        button(type="submit", (click)="signup()", [disabled]="!signupForm.valid" ) SignUp
