@import 'theme/shared-classes';
@import 'theme/style-guide';

team-member-component {
  .single-team-member {
    border: 1px solid $color-card-border;
    background: #fcfcfd;
    border-radius: 8px;
    height: 73px;
    display: flex;
    flex-direction: row;
    margin: 0 0 16px 0;
    cursor: pointer;
    .member-picture {
      width: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 20px;
        height: 40px;
        width: 40px;
      }
    }
    .member-details {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2px;
      .member-name {
        font-size: 14px;
        color: #354052;
        margin: 5px 0 0 5px;
        font-weight: 400;
      }
      .phone-number {
        display: flex;
        flex-direction: row;
        height: 25px;
        margin-top: 5px;
      }
      .twilio-icon {
        width: 15px;
        height: 15px;
        margin-left: 5px;
      }
      .member-phone-number {
        font-size: 14px;
        color: #b4bac6;
        margin: 0 0 4px 5px;
        font-weight: 400;
      }
    }
    .member-more {
      width: 55px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .oval {
        height: 9px;
        width: 9px;
        border-radius: 5px;
        background: $color-card-border;
        margin: 0 5px 0 0;
      }
    }
  }
}
