nav-content
  nav-icons(right, currentPage="ChatPage")

.spinner-container.center-x(*ngIf="loading")
  ion-spinner(name="ios")
.messaging-wrapper()
  .message-index-wrapper(*ngIf="showIndex" [ngClass]="{ 'message-index-visible' : messageThreadShow }" )
    chat-index()
  .conversation-wrapper()
    chat-show((openOrCreate)="openOrCreateMessaging($event)", (openThreads)="openThreads()")
