@import 'theme/mixins';
@import 'theme/shared-classes';
@import 'theme/style-guide';
@import 'theme/variables';
.icon-wrapper {
  height: 100%;
}

// Nav link with an SVG image.
.nav-icon-link {
  @extend .center;
  height: 8%;
  margin: 0 14px;
  cursor: pointer;
  margin-bottom: 2px;
  svg {
    fill: #90a4ae;
    height: 22px;
    width: 20px;
  }
}

.nav-icon-link-active {
  @extend .nav-icon-link;
  margin-bottom: 0;
  svg {
    fill: #835cdd;
  }
  &:hover,
  &:active {
    svg {
      filter: none;
    }
  }
}

// Nav link with text.
.nav-link {
  background: $color-nav-background;
  color: $color-primary;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  margin: 0 16px;
  padding: 0;
}
