@import 'theme/mixins';
@import 'theme/shared-classes';
@import 'theme/style-guide';
@import 'theme/variables';

$nav-left-width: 77px;
$nav-center-width: auto;
$nav-right-width: auto;

@mixin nav-logo($height) {
  align-items: center;
  display: flex;
  height: $height;
  justify-content: center;
  width: $nav-left-width;
}

@mixin nav-element {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

@mixin nav-center($height, $min-width) {
  border-left: 1px solid #dfe3eb;
  border-right: 1px solid #dfe3eb;
  flex-grow: 2;
  height: $height;
  min-width: $min-width;
  width: $nav-center-width;

  *[center] {
    @include nav-element;
  }
}

@mixin nav-right($height) {
  display: flex;
  height: $height;
  padding-left: 40px;
  width: $nav-right-width;

  *[right],
  .username {
    @include nav-element;

    padding-right: 28px;
  }
}

nav {
  .nav-container {
    @extend .center-y;

    height: $nav-height-mobile;

    @include md {
      height: $nav-height-large;
    }

    background: white;
    border-bottom: 1px solid #dfe3eb;
    margin: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;

    @include xs {
      .nav-logo {
        @include nav-logo($nav-height-mobile);

        min-width: 77px;
      }

      .nav-center {
        @include nav-center($nav-height-mobile, 0px);
        display: flex;
        border-right: none;
      }

      .nav-right {
        @include nav-right($nav-height-mobile);

        justify-content: flex-end;
      }
    }

    @include md {
      .nav-logo {
        @include nav-logo($nav-height-large);
      }

      .nav-center {
        @include nav-center($nav-height-large, 300px);
      }

      .nav-right {
        @include nav-right($nav-height-large);
      }
    }

    .search-bar {
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 30px;

      .search-logo {
        width: 30px;
        height: 30px;
        opacity: .2;
      }

      .search-content {
        font-size: 16px;
        margin-left: 20px;
      }
    }
  }

  .username {
    white-space: nowrap;
  }

  .nav-container.hidden {
    display: none;
  }

  .spacing {
    height: $nav-height-mobile;

    @include md {
      height: $nav-height-large;
    }

    width: 100%;
  }
}
