chat-index {
  .dropdown-title::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255rem;
    vertical-align: 0.255em;
    content: '';
    border-top: 0.5em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  .chat-index-header {
    @extend .center-y;
    @extend .space-between;
    height: 55px;
    padding-left: 21px;
    padding-right: 21px;
    background-color: white;
    margin-bottom: 1px;
    .search {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
    .filter {
      @extend .center-y;
      font-weight: $font-weight-headers;
      margin-left: -5px;
      cursor: pointer;
      .add-contact {
        height: 55px;
        width: 55px;
      }
      @include md {
        ion-searchbar {
          border-bottom: none;
          background: none;
          color: #cbd1d8;
          font-weight: 300;
          font-size: 15px;
          opacity: 0.5;
          .searchbar-search-icon {
            display: none;
            width: 0;
            height: 0;
          }
          .searchbar-clear-icon {
            display: none;
            width: 0;
            height: 0;
          }
        }
      }
    }
    .close {
      @extend .center;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background-color: $color-light-dark;
      cursor: pointer;
    }
    .add-contact {
      cursor: pointer;
    }
  }
  .dropdown-container {
    position: relative;
    width: 100%;
    height: 0;
    .dropdown {
      position: absolute;
      width: 100%;
      border-radius: 0 0 $radius-size $radius-size;
      background-color: white;
      box-shadow: 5px 5px 8px #888888;
      max-height: 280px;
      overflow-y: scroll;
      .top-two {
        border-bottom: 1px solid rgb(234, 235, 240);
        margin-bottom: 12px;
        font-weight: $font-weight-headers;
        .all-messages {
          margin-left: 11px;
          margin-top: 13px;
          margin-bottom: 16px;
          cursor: pointer;
        }
        .favorites {
          margin-left: 11px;
          margin-bottom: 15px;
          cursor: pointer;
        }
        .selected {
          background-color: $color-primary;
          color: white;
          border-radius: $radius-size;
          margin-left: 5px;
          margin-right: 5px;
          padding: 6px;
        }
      }
      .dropdown-header {
        font-weight: $font-weight-headers;
        color: $color-text-primary;
        margin-left: 11px;
        cursor: pointer;
        &.selected {
          background-color: $color-primary;
          color: white;
          border-radius: $radius-size;
          margin-left: 5px;
          margin-right: 5px;
          padding: 6px;
        }
        .dropdown-item {
          margin-top: 15px;
          margin-left: 31px;
          margin-bottom: 17px;
          color: $color-text-secondary;
          cursor: pointer;
          &.selected {
            background-color: $color-primary;
            color: white;
            border-radius: $radius-size;
            margin-left: 5px;
            margin-right: 5px;
            padding: 6px;
            padding-left: 26px;
          }
        }
      }
    }
  }
}
