@import 'theme/shared-classes';
@import 'theme/style-guide';

crm-page {
  .nav-pipelines {
    background-color: #5f6c72;
    color: $color-text-secondary;
    font-size: $font-size-name;
    font-weight: $font-weight-headers;
    padding: 0px 16px;

    span {
      cursor: pointer;
      padding: 8px;

      &.active {
        color: #fff;
      }
    }

    @include md {
      padding: 12px 56px;

      span {
        padding: 8px 16px;
      }
    }
  }

  button.new-contact {
    @extend .boon-button;

    float: right;
    margin-bottom: 10px;
    width: 180px;
  }

  .nav-stages {
    margin: 8px 0 16px 0;
  }

  &,
  .content {
    background-color: $color-content-background;
  }

  .content {
    .table {
      @extend .boon-table;
    }
  }

  ion-row.lead {
    cursor: pointer;
  }
}
