nav-content
  nav-icons(right, currentPage="LeadPage")

ion-content(padding)
  div.header-row
    div.center-y
      h2 All Contacts
      div.showing-total {{leadCount | async}} Total
      div.sort
        ion-label.sort-label Sort by:
        ion-select(interface="popover", (ionChange)="sortSelected($event)", placeholder="Sort Condition")
          ion-option(*ngFor="let sort of sortList", [value]="sort.value") {{sort.label}}
            //- ion-option(*ngFor="let name of shortcodeNames | async", [value]="name") {{name}}
    button.new-contact(ion-button, (click)="newLead()") New Contact

  ion-grid.table
    ion-row.header
      ion-col Name
      ion-col Email
      ion-col Phone number
      ion-col Created at
      ion-col Contact owner
      ion-col.action
        button(ion-button, small, (click)="loadPrevPage()", [disabled]="isPrevPageButtonDisabled | async")
          ion-icon(name="md-arrow-dropleft")
        button(ion-button, small, (click)="loadNextPage()", [disabled]="isNextPageButtonDisabled | async")
          ion-icon(name="md-arrow-dropright")
    ion-row.lead(*ngFor="let lead of (leads | async)", (click)="showLead(lead)")
      ion-col {{lead.name || "-"}}
      ion-col {{lead.email || "-"}}
      ion-col {{lead.phoneNumber || "-"}}
      ion-col {{lead.insertedAt | date:'dd MMM yyyy' || "-"}}
      ion-col {{lead.owner?.name || "-"}}
      ion-col.action
        div.dot
        div.dot
        div.dot
