nav-content
  nav-icons(right, currentPage="ContactPage")

ion-content(padding)
  div.header-row
    div.center-y
      .title All Contacts
      div.showing-total {{contactCount | async}} Total
      div.sort
        ion-label.sort-label Sort by:
        ion-select(interface="popover", (ionChange)="sortSelected($event)", placeholder="Sort Condition")
          ion-option(*ngFor="let sort of sortList", [value]="sort.value") {{sort.label}}
    button.new-contact(ion-button, (click)="newContact()") New Contact

  ion-grid.table
    ion-row.header
      ion-col Name
      ion-col.email Email
      ion-col Phone number
      ion-col Created at
      ion-col Contact owner
      ion-col.action
        button(ion-button, small, (click)="loadPrevPage()", [disabled]="isPrevPageButtonDisabled | async")
          ion-icon(name="md-arrow-dropleft")
        button(ion-button, small, (click)="loadNextPage()", [disabled]="isNextPageButtonDisabled | async")
          ion-icon(name="md-arrow-dropright")
    ion-row.contact(*ngFor="let contact of (contacts | async)", (click)="showContact(contact)")
      ion-col {{contact.name || "-"}}
      ion-col.email {{contact.email || "-"}}
      ion-col {{contact.phoneNumber || "-"}}
      ion-col {{contact.insertedAt | date: 'dd MMM yyyy' || "-"}}
      ion-col {{contact.owner?.name || "-"}}
      ion-col.action
        div.dot
        div.dot
        div.dot