@import 'theme/shared-classes';
@import 'theme/style-guide';
crm-page {
  button.new-contact {
    @extend .boon-button;
    float: right;
    margin-bottom: 10px;
    width: 180px;
  }
  .nav-stages {
    margin: 8px 0 16px 0;
  }
  &,
  .content {
    background-color: $color-content-background;
  }
  .content {
    .table {
      @extend .boon-table;
      border: 0 !important;
      padding: 0 !important;
      .header {
        background: $color-content-background
      }
    }
  }
  ion-row {
    ion-col:first-child{
      padding-left: 25px;
    }
    .action {
      display: flex;
      max-width: 100px;
      justify-content: center;
      align-items: center;
      padding: 0;
      button {
        margin-bottom: 0;
        background: #FFF !important;
        color: $color-primary !important;
        &:hover {
          background: #d1d1d1;
        }
      }
    }
    .dot {
      height: 4px;
      width: 4px;
      border-radius: 4px;
      margin-right: 5px;
      background: $color-text-secondary;
    }
  }
  .header {
    ion-col {
      display: flex;
      align-items: flex-end;
    }
  }
  ion-row.lead {
    cursor: pointer;
  }
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: $color-primary;
      letter-spacing: 0.17px;
      line-height: 30px;
      font-size: 25px;
    }
  }
  .showing-color {
    font-size: 14px;
    color: $color-text-secondary;
  }
  .showing-total {
    @extend .showing-color;
    margin-left: 2rem;
    margin-bottom: 0.3rem;
  }
  .sort {
    display: flex;
    margin-left: 3rem;
    margin-top: -0.3rem;

    ion-label {
      max-width: 50px;
      text-align: right;
    }

    ion-select {
      width: 200px;
      padding-left: 10px;
    }
  }
}
