@import 'theme/shared-classes';
@import 'theme/style-guide';
search-results-page {
  &,
  .content {
    background-color: $color-content-background;
  }
  .content {
    .table {
      @extend .boon-table;
    }
  }

  .top-bar {
    height: 80px;
    margin-bottom: 10px;
    background-color: #f8fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10px;

    .type-navbar {
      display: flex;
      align-items: center;

      .nav-item {
        cursor: pointer;
        background-color: transparent;
        font-size: 15px;
        color: $color-text-primary;
        font-weight: 600;
        letter-spacing: 0.12px;
        height: 100%;
        line-height: 70px;
        padding: 0 20px;
        margin: 0 30px;

        &:hover {
          color: #636c79;
        }
      }

      .nav-item-active {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;

        &:hover {
          color: #636c79;
          border-color: #636c79;
        }
      }
    }
  }

  ion-row {
    ion-col:first-child {
      padding-left: 25px;
    }
    .action {
      display: flex;
      max-width: 100px;
      justify-content: center;
      align-items: center;
      padding: 0;
      button {
        margin-bottom: 0;
        background: #fff !important;
        color: $color-primary !important;
        &:hover {
          background: #d1d1d1;
        }
      }
    }
    .dot {
      height: 4px;
      width: 4px;
      border-radius: 4px;
      margin-right: 5px;
      background: $color-text-secondary;
    }
  }
  .header {
    ion-col {
      display: flex;
      align-items: flex-end;
    }
  }
}