nav-content
  nav-icons(right, currentPage="DealsShowPage")

div.deals-header-section
  .deal-content-wrapper(*ngIf="deal")
    div.deal-page-back-section
      #back-button((click)="goBack()")
        i.fa.fa-arrow-left
    .deal-header-section
      h2
        | deal
    .deal-details-section
      form.deal-form([formGroup]='dealForm', (ngSubmit)='updateDeal()')
        .deal-header
          h1(*ngIf='viewMode()')
            | {{deal?.contact?.name}}: {{deal?.name}}
          button.more-button(*ngIf='viewMode()', type='button', (click)='changePipelineModal()')
            .bullets
          .deal-detail-item
            label(*ngIf='editMode()', for='name')
              | Deal Name
            input.boon-input(*ngIf='editMode()', formControlName="name", type='text', name='name', required)
        .deal-details
          .deal-detail-item
            label(for='value')
              | Deal Value
            input.boon-input(*ngIf='editMode()', formControlName="value", type="number", name='value', required)
            .display-value(*ngIf='viewMode()')
              | {{ deal?.value }}
          .deal-detail-item
            label(for='contactName')
              | Contact
            .display-value
              | {{ deal?.contact?.name }}
          .deal-detail-item
            label(for='email')
              | Email
            .display-value
              | {{deal?.contact?.email}}
          .deal-detail-item
            label(for='phoneNumber')
              | Phone Number
            .display-value
              | {{deal?.contact?.phoneNumber}}
          .deal-detail-item
            label(for='owner')
              | Referral Owner
            .display-value
              | {{ deal?.owner?.name }}    
          .deal-buttons-section
            button.edit-button(*ngIf='viewMode()', (click)='enterEditMode()')
              | Edit
            button(*ngIf='viewMode()')
              | Update Stage
            button(*ngIf='editMode()', type="submit")
              | Save
            button(*ngIf='editMode()', (click)='cancel()')
              | Cancel
    pipeline([stages]="stages | async", type="progress", [currentStageId]="deal.stageId", (select)="onStageSelect($event)")
div.tab-selector-wrapper
  tab-selector([tabs]="leftTabs", [selectedTab]='leftSelected')
  .space-holder