@import 'theme/shared-classes';
@import 'theme/style-guide';

deals-index-page {
  .content-md {
    background-color: #f1f2f6 !important;
  }
  .header-info-group {
    display: flex;
    align-items: flex-end;
    padding-left: 40px;

    ng-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      resize: horizontal;
      background-color: transparent;
      color: $color-primary;
      input.select-dropdown:focus {
        text-indent: -9999999em;
      }
      .ng-value {
        color: $color-primary;
        letter-spacing: 0.17px;
        line-height: 30px;
        font-size: 25px;
        padding-right: 5px;
      }
      .ng-value-container {
        width: fit-content;
      }
      .ng-clear-wrapper {
        display: none;
      }
      .pipeline-dropdown {
        height: 192px;
        width: 379px;
        border: 1px solid #dfe3eb;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        margin-left: -15px;
        color: #4c4953;
        font-size: 16px;

        .ng-dropdown-panel-items {
          padding: 20px 0px 0px 18px;
          .ng-option {
            padding-top: 5px;
            height: 32px;
            z-index: 9999;
          }
          .ng-option.ng-option-selected {
            border-bottom: 1px solid #dbe2e5;
            padding-bottom: 8px;
          }
          .ng-option.ng-option-marked {
            height: 32px;
            width: 356px;
            border-radius: 4px;
            background-color: rgba(219, 226, 229, 0.3);
            color: $color-primary;
            margin-left: -7px;
            .ng-option-label {
              margin-left: 7px;
            }
          }
        }
      }
    }
    .arrow {
      color: #90a4ae;
      margin: 0px 10px 3px 0px;
    }
    .deals-index-total {
      width: fit-content;
      color: #90a4ae;
      font-size: 14px;
      letter-spacing: 0.07px;
      padding-right: 17px;
      margin-bottom: 2px;
    }
    .deals-index-sort {
      display: flex;
      margin-bottom: 4px;
      .title {
        height: 16px;
        width: fit-content;
        color: #90a4ae;
        font-size: 14px;
        letter-spacing: 0.07px;
        line-height: 16px;
        padding-right: 2px;
      }
      .sort {
        height: 16px;
        width: fit-content;
        color: #313942;
        font-size: 14px;
        letter-spacing: 0.07px;
        line-height: 16px;
      }
      .arrow {
        padding-top: 1px;
        color: #90a4ae;
        height: 8px;
        width: 5px;
        padding-left: 4px;
        margin-top: 2px;
      }
    }
  }

  .new-deal {
    width: 179px;
    height: 38px;
    font-size: 11px;
    border-radius: 4px;
  }
  ion-row.deal {
    cursor: pointer;
    background: white;
    height: 80px;
    margin: 1.5px 40px;
    border-radius: 4px;
    height: 44px;
  }
  ion-col.deal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    color: #313942;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }
  ion-col.deal-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    color: #90a4ae;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.57px;
    line-height: 13px;
  }
  .deal-end {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 10px;
    width: 60px;
    button {
      background: white !important;
      border-radius: 4px;
      box-shadow: none;
      height: 24px;
      width: 24px;
      margin: 0 2px 8px 4px;
    }
    .arrow {
      color: #90a4ae;
      font-size: 1.5em;
    }
    .more {
      color: #90a4ae;
      font-size: 2em;
    }
  }
  ion-col.header-row {
    display: flex;
    justify-content: flex-end;
  }
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    margin: -4px 40px;
    h2 {
      color: $color-primary;
      letter-spacing: 0.17px;
      line-height: 30px;
      font-size: 25px;
    }
  }

  .owner-picture {
    width: 35px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 20px;
      height: 40px;
      width: 40px;
    }
  }
  .nav-stages {
    margin: 8px 0 16px 0;
    padding: 0 47px 0px 44px;
  }
}
