@import 'theme/shared-classes';
@import 'theme/style-guide';

deals-show-page {
  overflow-y: auto;
  &,
  .content {
    background-color: $color-content-background;
  }
  .deals-header-section {
    background-color: #4c4953;
    display: flex;
    justify-content: center;
    height: $deal-contact-header-height;
  }
  .deal-show-button {
    height: 38px;
    width: 45%;
    border-radius: 4px;
    background-color: #3a373f;
    color: #fff;
    &:hover {
      background-color: #231f28;
    }
  }
  .more-button {
    width: 70px;
    margin-left: 15px;
    border-radius: 4px;
    background-color: #3a373f;
    .bullets::before {
      @include bullet(#d8d8d8, '\25CF\25CF\25CF');
      margin: 0px;
    }
    &:hover {
      background-color: #231f28;
    }
  }
  .deal-buttons-section button {
    @extend .deal-show-button;
  }
  .deal-content-wrapper {
    width: 90%;
    height: 160px;
    margin-top: 15px;
  }
  .deal-header {
    display: flex;
  }
  #back-button {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: $color-primary;
    margin: 0;
    display: flex;
    align-items: center;
    i {
      color: white;
      height: 12px;
      font-size: 11px;
      margin: 0 0 0 3px;
    }
  }
  h2 {
    font-size: 13px;
    font-weight: 500;
    color: $color-light-dark;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
  }
  h1 {
    color: #fff;
    line-height: 30px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 18px;
    margin: 0 0 17px 0;
  }
  .deal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .deal-details {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .deal-detail-item {
    display: flex;
    flex-direction: column;
    width: 18%;
    label {
      font-size: 13px;
      color: $color-light-dark;
      font-weight: 500;
    }
    input {
    }
    .display-value {
      margin: 12px;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .deal-buttons-section {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }

  pipeline {
    margin-top: 20px;
  }
  .tab-selector-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    background-color: $color-tab-background;
    width: 100%;
    height: calc(100% - #{$deal-contact-header-height});
  }
  .space-holder {
    flex: 1 0 50%;
    background-color: $color-content-background;
  }
}
