nav-content
  nav-icons(right, currentPage="EmailTemplatesPage")

ion-content(padding)
  .templates-header
    h2 Email Templates
    button.new-template(ion-button, (click)="newTemplate()") New Template

  ion-grid.table
    ion-row.header
      ion-col Name
      ion-col Subject
      ion-col Default sender
      ion-col.action
    ion-row.template-row(*ngFor="let template of (templates | async)", (click)="show(template)")
      ion-col {{template.name}}
      ion-col {{template.subject}}
      ion-col {{template.sender}}
      ion-col.action
        div.dot
        div.dot
        div.dot
