nav-content
  nav-icons(right, currentPage="EmailTemplatesPage")

ion-content(padding)
  .form(*ngIf="formGroup | async; let form", [formGroup]="form")
    .form-header
      h2 Compose Email
      button(ion-button, (click)="save()", [disabled]="!form.valid") Save

    .form-body
      ion-item
        ion-label Name:
        ion-input(name="name", type="text", formControlName="name")
      ion-item
        ion-label Subject:
        ion-input(name="subject", type="text", formControlName="subject")
      ion-grid
        ion-row
          ion-col
            ion-item
              ion-label From Name:
              ion-input(name="default_sender_name", type="text", formControlName="default_sender_name")
          ion-col
            ion-item
              ion-label From Email:
              ion-input(name="default_sender", type="text", formControlName="default_sender")
      ion-item
        ion-label Shortcodes
        ion-select(formControlName="shortcode", [(ngModel)]="shortcode", placeholder="Available shortcodes")
          ion-option(*ngFor="let name of (shortcodeNames | async)", [value]="name") {{name}}
      ion-item.item-without-border
        ion-textarea(name="content", formControlName="content")
