@import 'theme/shared-classes';
@import 'theme/style-guide';

journey-page {
  background-color: $color-content-background;

  ion-grid.journey {
    padding: 0;

    &,
    ion-row {
      height: 100%;
    }
  }

  .sidebar {
    background-color: #5f6c72;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    min-width: 171px;
    opacity: 0.9;
    padding: 18px 25px;
  }

  .sidebar-box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.11);
    height: 91px;
    margin-top: 13px;
    width: 120px;
  }

  .triggers {
    padding-bottom: 45px;
  }

  .content {
    padding: 22px;
  }

  ion-input.journey-name {
    min-width: 20em;
    width: 25vw;

    input {
      @extend .boon-input;
      font-size: $font-size-name;
      font-weight: bold;
    }

    &.ng-invalid.ng-touched input {
      @extend .boon-invalid-input;
    }
  }

  .publish-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: absolute;
    right: 0;
    top: 0;

    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #d2d6e4;
    border-radius: 0 0 0 10px;
    font-size: 0.85em;
    height: 105px;
    width: 235px;

    button {
      height: 38px;
      width: 152px;
    }
  }
}
