@import 'theme/shared-classes';
@import 'theme/style-guide';
tab-selector {
  flex-grow: 1;
  border-right: 1px solid #dfe3eb;
  flex: 1 0 50%;

  .tab-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    .tab-buttons {
      display: flex;
      flex-flow: row wrap;
      height: 75px;
      background-color: $color-tab-header;
      border-bottom: 1px solid #dfe3eb;
      button {
        background-color: $color-tab-header;
        font-weight: $font-weight-headers;
        margin: 0px 15px;
      }
    }
    .tab-content {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      flex-grow: 1;
    }
  }
  .nav-item {
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    color: $color-text-primary;
    font-weight: 600;
    letter-spacing: 0.12px;
    height: 100%;
    line-height: 70px;
    padding: 0 20px;
    margin: 0 10px;

    &:hover {
      color: #636c79;
    }
  }
  .nav-item-active {
    color: $color-primary;
    border-bottom: 2px solid $color-primary;

    &:hover {
      color: #636c79;
      border-color: #636c79;
    }
  }
}
