$color-border: #e0e8eb;
$color-card-background: #fafafa;
$color-content-background: #f1f2f6;
$color-dark: #3e3e40;
$color-input-field-background: #f0f2f5;
$color-invalid-primary: #f53d3d;
$color-invalid-primary-lt: lighten($color-invalid-primary, 35%);
$color-light-dark: #8a96a0;
$color-nav-background: #ffffff;
$color-primary-lt: #3b99fc;
$color-primary: #0077ff;
$color-search-field-background: #ffffff;
