@import 'theme/style-guide/global-colors';

$color-text-primary: $color-dark;
$color-text-primary-dk: #282828;
$color-text-link: #e32a38;
$color-text-secondary: $color-light-dark;
$font-size-primary: 12px;
$font-size-input-body: 12px;
$font-size-name: 15px;
$font-weight-name: 800;
$font-weight-headers: 600;
$font-weight-light: 200;
$font-size-link-mobile: 12px;
