nav-content
  nav-icons(right, currentPage="GroupsPage")

settings-page-with-menu(currentPage="GroupsPage")
  ion-grid(*ngIf="showList | async")
    ion-row(align-items-end).groups-header
      ion-col
        h2 Sales Groups
      ion-col(col-auto)
        button.boon-button(ion-button, (click)="newGroup()") Create Group
    ion-row.groups-list
      ion-col(col-6, ion-item *ngFor="let group of (groups | async)", (click)="editGroup(group)")
        div.group
          div
            div.group-title
              | {{group.name}}
            div.group-members 3 team members              
          div([inlineSVG]="'assets/icon/settings/arrow.svg'")
  ion-grid(*ngIf="showForm | async")
    ion-row.groups-header
      ion-col
        a.back-link((click)="goBackToList()") < Back
        h2 {{ name | async }} Sales Group
      ion-col(col-auto)
        button(*ngIf="(name | async) === 'new'", ion-button, [disabled]="formInvalid | async", (click)="updateGroup()") Create Group
        button(*ngIf="(name | async) === 'edit'", ion-button, [disabled]="formInvalid | async", (click)="updateGroup()") Edit Group
    ion-row
      ion-col(col-6)
        form(autocomplete="off")
          ion-label(stacked) Group Name
          ion-input(name="name", type="text", [formControl]="currentGroupNameInput | async")
      ion-col(col-6, *ngIf="(name | async) !== 'new'")
         form(autocomplete="off")
            ion-label(stacked) Distribution Type
            select.field-value([(ngModel)]="distributionType", [ngModelOptions]="{standalone: true}")
              option(*ngFor="let distribution of distributions", [value]="distribution.type") {{distribution.label}}
    ion-row(*ngIf="(name | async) !== 'new'")
      ion-col
        form(autocomplete="off")
            ion-label(stacked) Add Team Members
            select.field-value([(ngModel)]="selectedUser", [ngModelOptions]="{standalone: true}")
              option(*ngFor="let user of usersList | async", [value]="user") {{user.name}}
    ion-row.users-header(align-items-end, *ngIf="(name | async) !== 'new'")
      ion-col
        span.description Name
      ion-col(col-auto)
        span.description Percent Distribution         
    ion-row.user-row(*ngFor="let user of currentGroupUsers | async")              
      ion-col.center-y
        div.remove-user((click)='deleteUser(user)',aria-label='Remove User')
          span(aria-hidden='true')
            | &times;
        img.avatar-image([src]="user.avatar_url || 'https://cdn2.iconfinder.com/data/icons/avatar-2/512/oscar_boy-512.png'")        
        span {{user.name}}
      ion-col(col-auto)
        button.distribution {{btnLabel}}
        
        