@import 'theme/style-guide';

@mixin settings-page-header {
  border-bottom: 1px solid $color-border;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;

  ion-col {
    padding-left: 0;
    padding-right: 0;
  }

  button {
    @extend .boon-button;

    margin-top: 11px;
    padding: 0 55px;
  }

  h2 {
    color: $color-header;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
  }

  .back-link {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
  }
}

@mixin settings-page-item-list {
  button.item {
    font-size: 14px;
    line-height: 22px;
    padding-left: 0;

    &.button-with-arrow {
      /* Bring iOS list style which includes ">" for each list item. */
      @extend .item-ios[detail-push];
    }

    &:hover {
      background-color: $color-content-background;
    }

    ion-label {
      margin-left: 5px;
    }
  }
}
